{% extends "layout.html" %}
{% block title %}
    <title>Test</title>
{% endblock %}

{% block body %}
    {% if item %}
        <table>
            <thead>
                <th>Item 🍉</th>
                <th>Amount 🤔</th>
                <th>Price 💰</th>
            </thead>
            {% for i,j,k in item %}
                <tbody>
                    <td>{{i}}</td>
                    <td>{{j}}</td>
                    <td>{{k}}</td>
                </tbody>
                {% endfor %}
        </table>
    {% else %}
        <h1>Your cart is EMPTY!</h1>
    {% endif %}
{% endblock %}